<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"



    package="br.com.example.tectoy.tectoyautomacao">

    <uses-permission android:name="android.permission.BLUETOOTH"  />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>


    <application
        android:allowBackup="true"
        android:name="br.com.tectoy.tectoyautomacao.BaseApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tectoyexemplo"
        >
        <activity
          android:name="br.com.tectoy.tectoyautomacao.activity.MainActivity"
            android:exported="true">
         <!-- The meta-data tag is required if you support API level 15 and lower -->
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity
        android:name="br.com.tectoy.tectoyautomacao.activity.QrActivity"
        android:parentActivityName="br.com.tectoy.tectoyautomacao.activity.MainActivity">
        <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.tectoy.tectoyautomacao.activity.MainActivity" />
        </activity>
        <activity
            android:name="br.com.tectoy.tectoyautomacao.activity.BarcodeActivity"
            android:parentActivityName="br.com.tectoy.tectoyautomacao.activity.MainActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.tectoy.tectoyautomacao.activity.MainActivity" />
        </activity>
        <activity
            android:name="br.com.tectoy.tectoyautomacao.activity.BitmapActivity"
            android:parentActivityName="br.com.tectoy.tectoyautomacao.activity.MainActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.tectoy.tectoyautomacao.activity.MainActivity" />
        </activity>
        <activity
            android:name="br.com.tectoy.tectoyautomacao.activity.BlackLabelActivity"
            android:parentActivityName="br.com.tectoy.tectoyautomacao.activity.MainActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.tectoy.tectoyautomacao.activity.MainActivity" />
        </activity>
        <activity
            android:name="br.com.tectoy.tectoyautomacao.activity.LabelActivity"
            android:parentActivityName="br.com.tectoy.tectoyautomacao.activity.MainActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.tectoy.tectoyautomacao.activity.MainActivity" />
        </activity>
        <activity
            android:name="br.com.tectoy.tectoyautomacao.activity.LcdActivity"
            android:parentActivityName="br.com.tectoy.tectoyautomacao.activity.MainActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.tectoy.tectoyautomacao.activity.MainActivity" />
        </activity>
        <activity
            android:name="br.com.tectoy.tectoyautomacao.activity.TableActivity"
            android:parentActivityName="br.com.tectoy.tectoyautomacao.activity.MainActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.tectoy.tectoyautomacao.activity.MainActivity" />
        </activity>
        <activity
            android:name="br.com.tectoy.tectoyautomacao.activity.TextActivity"
            android:parentActivityName="br.com.tectoy.tectoyautomacao.activity.MainActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.tectoy.tectoyautomacao.activity.MainActivity" />
        </activity>
        <activity
            android:name="br.com.tectoy.tectoyautomacao.activity.LedActivity"
            android:parentActivityName="br.com.tectoy.tectoyautomacao.activity.MainActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.tectoy.tectoyautomacao.activity.MainActivity" />
        </activity>
        <activity
            android:name="br.com.tectoy.tectoyautomacao.activity.ScannerActivity"
            android:parentActivityName="br.com.tectoy.tectoyautomacao.activity.MainActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.tectoy.tectoyautomacao.activity.MainActivity" />
        </activity>
        <activity
            android:name="br.com.tectoy.tectoyautomacao.activity.ScanActivity"
            android:parentActivityName="br.com.tectoy.tectoyautomacao.activity.MainActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.tectoy.tectoyautomacao.activity.MainActivity" />
        </activity>
        <activity
            android:name="br.com.tectoy.tectoyautomacao.activity.nfc.NfcExemplo"
            android:parentActivityName="br.com.tectoy.tectoyautomacao.activity.MainActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.tectoy.tectoyautomacao.activity.MainActivity" />
        </activity>
        <activity
            android:name="br.com.tectoy.tectoyautomacao.activity.MsitefActivity"
            android:parentActivityName="br.com.tectoy.tectoyautomacao.activity.MainActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.tectoy.tectoyautomacao.activity.MainActivity" />
        </activity>

        <activity
            android:name="br.com.tectoy.tectoyautomacao.activity.PaygoActivity"
            android:parentActivityName="br.com.tectoy.tectoyautomacao.activity.MainActivity"
            android:exported="true">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.tectoy.tectoyautomacao.activity.MainActivity" />
        </activity>
    </application>

</manifest>